@font-face{
	font-family: myFont;
	src: url('../resource/方正正纤黑简体.ttf');
}
@media screen and (max-height: 550px) {
	body{
		-webkit-transform: scale(0.80);
		-ms-transform: scale(0.80);
		-o-transform: scale(0.80);
		transform: scale(0.80);
	}
}
@media screen and (max-height: 500px) {
	body{
		-webkit-transform: scale(0.70);
		-ms-transform: scale(0.70);
		-o-transform: scale(0.70);
		transform: scale(0.70);
	}
}
@media screen and (max-height: 450px) {
	body{
		-webkit-transform: scale(0.60);
		-ms-transform: scale(0.60);
		-o-transform: scale(0.60);
		transform: scale(0.60);
	}
}
html,body{
	width:100%;
	height:100%;
	font-family: myFont;
}
body {
	overflow-x: hidden;
	overflow-y: hidden;
	background-color: #48b4c6;
}
 * {
	margin: 0;
	padding: 0;
}
#bg{       /* 背景地图 */
	position: fixed;
	top: 0px;
	left: 0px;
	width: 3200px;
	height: 2188px;
	overflow: hidden;
 
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0); 
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}
.bg{                      /*  一些给每张图片定位 */
	width: 400px;
	position: absolute;
}
.bg_01{
	top: 0;
	left: 0;
}
.bg_02{
	top: 0;
	left: 400px;
}
.bg_03{
	top: 0;
	left: 800px;
}
.bg_04{
	top: 0;
	left: 1200px;
}
.bg_05{
	top: 0;
	left: 1600px;
}
.bg_06{
	top: 0;
	left: 2000px;
}
.bg_07{
	top: 0;
	left: 2400px;
}
.bg_08{
	top: 0;
	left: 2800px;
}
.bg_09{
	top: 547px;
	left: 0;
}
.bg_10{
	top: 547px;
	left: 400px;
}
.bg_11{
	top: 547px;
	left: 800px;
}
.bg_12{
	top: 547px;
	left: 1200px;
}
.bg_13{
	top: 547px;
	left: 1600px;
}
.bg_14{
	top: 547px;
	left: 2000px;
}
.bg_15{
	top: 547px;
	left: 2400px;
}
.bg_16{
	top: 547px;
	left: 2800px;
}
.bg_17{
	top: 1094px;
	left: 0;
}
.bg_18{
	top: 1094px;
	left: 400px;
}
.bg_19{
	top: 1094px;
	left: 800px;
}
.bg_20{
	top: 1094px;
	left: 1200px;
}
.bg_21{
	top: 1094px;
	left: 1600px;
}
.bg_22{
	top: 1094px;
	left: 2000px;
}
.bg_23{
	top: 1094px;
	left: 2400px;
}
.bg_24{
	top: 1094px;
	left: 2800px;
}
.bg_25{
	top: 1641px;
	left: 0;
}
.bg_26{
	top: 1641px;
	left: 400px;
}
.bg_27{
	top: 1641px;
	left: 800px;
}
.bg_28{
	top: 1641px;
	left: 1200px;
}
.bg_29{
	top: 1641px;
	left: 1600px;
}
.bg_30{
	top: 1641px;
	left: 2000px;
}
.bg_31{
	top: 1641px;
	left: 2400px;
}
.bg_32{
	top: 1641px;
	left: 2800px;
}
#tizai{
	width: 63px;
	height: 80px;
	position: fixed;
	top: 471px;
	left: 166px;
}
#tizai img{
	width: 63px;
	height: 80px;
}
.popover{          /* 白色半透明弹出框样式 */
	width: 300px;
	min-height: 410px;
	background-color: rgba(255,255,255,0.85);
	position: fixed;
	top: 30px;
	margin:0 auto;
	left: 0;
	right: 0;
	border-radius: 20px;
	display: none;
	color: #1d8162;
	overflow: hidden;
}
.text{        /*成就文本 */
	width: 88%;
	margin: 0 auto;
	text-align: left;
	font-size: 20px;
	line-height: 40px;
	margin-bottom: 7.5px;
}
.rule .text{    /* 游戏规则文本 */
	width: 88%;
	margin: 0 auto;
	text-align: left;
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 7.5px;
}
.btn-replace{
	width: 100%;
	height: 80px;
}
.title{        /* 成就标题 */
	font-size: 27px;
	letter-spacing: 5px;
	text-align: center;
	margin-top: 35px;
}
._title{     /* 游戏规则标题 */
	width: 100%;
	margin: 0 auto;
	font-size: 37px;
	letter-spacing: 7.5px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 20px;
}
.info{      /* 答题结果提示文本 */
	text-align: center;
	font-size: 27px;
	letter-spacing: 6px;
	line-height: 50px;
	margin-top: 85px;
}
.question{    /* 问题 */
	font-size: 25px;
	width: 86%;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 15px;
}
.choose{       /* 选项 */
	width: 86%;
	margin: 0 auto;
	overflow: hidden;
}
.answer{      /* 选项文本 */
	width: 88%;
	text-align: left;
	font-size: 20px;
	margin-top: 2.5px;
	margin-bottom: 2.5px;
	float: left;
}

.count{          /* 倒计时 */
	width: 100px;
	position: absolute;
	margin:0 auto;
	left: 0;
	right: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	bottom: 75px;
	text-align: center;
}
.button{         /* 正下方按钮样式 */
	width: 170px;
	height: 50px;
	background-color: #1d8162;
	position: absolute;
	margin:0 auto;
	left: 0;
	right: 0;
	margin-bottom: 25px;
	bottom: 0;
	border-radius: 50px;
	line-height: 50px;
	overflow: hidden;
	letter-spacing: 4px;
	text-align: center;
	color: white;
	font-size: 25px;
}
.replace{		/* 计时器和按钮占位框样式 */
	width: 100%;
	height: 115px;
}
.dot{         /* 提示选中的圆点 */
	width: 15px;
	height: 15px;
	border-radius: 15px;
	border-color: #a2a2a2;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: 8px;
	float: left;
}
.picture{         /*  结算成就图片 */
	width: 100%;
}
.picture img{
	position: absolute;
	width: 160px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: -66px;
}
.picture .daxue{      /*  由于大学那张图片大小不一样，简直坑爹 */
	position: absolute;
	width: 180px;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: -63px;
}
.rule{       /* 有修改 */
	display: block;
}

.dot_on{
	background-color: #1d8162;
}
